
// ui-tab
.ui-navbar {
    display: box;
    display: -webkit-box;
    -webkit-box-align: center;

    float: left;
    height: 100%;
    font-family: Helvetica;
    font-size: 28px;
    letter-spacing: 0;
    color: #333;
}